<app-dashboard-nav></app-dashboard-nav>
<div style="width: 100vw;" align="center">
  <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit(feedbackForm.value)">
    <table style="background-color: silver">
      <tr>
        <td>
          <label for="first_name">First Name *</label>
        </td>
        <td>
          <input type="text" name="first_name" maxlength="50" [formControl]="feedbackForm.controls['firstName']" size="30" style="border-radius: 8px">
        </td>
      </tr>
      <br>
      <tr>
        <td>
          <label for="last_name">Last Name *</label>
        </td>
        <td>
          <input type="text" name="last_name" maxlength="50" size="30" style="border-radius: 8px"  [formControl]="feedbackForm.controls['lastName']">
        </td>
      </tr>
      <br>
      <tr>
        <td>
          <label for="email">Email Address *</label>
        </td>
        <td>
          <input type="text" name="email" maxlength="80" size="30" style="border-radius: 8px"  [formControl]="feedbackForm.controls['email']">
        </td>

      </tr>
      <br>
      <tr>
        <td>
          <label for="telephone">Telephone Number</label>
        </td>
        <td>
          <input type="text" name="telephone" maxlength="30" size="30" style="border-radius: 8px"  [formControl]="feedbackForm.controls['telephone']">
        </td>
      </tr>
      <br>
      <tr>
        <td>
          <label for="comments">Comments *</label>
        </td>
        <td>
          <textarea name="comments" maxlength="1000" cols="25" rows="6" style="border-radius: 4px;margin-left: 24px;" [formControl]="feedbackForm.controls['comments']"></textarea>
        </td>

      </tr>
      <br>

      <div style="text-align:center">
        <input type="submit">
      </div>
    </table>
  </form>
</div>