<div class="container" class="jumbotron">
  <span *ngFor="let slot of slots; let i = index">
        <button style="margin: 10px 20px;width: 200px;" type="button" (click)="slotNumbers(i)" class="btn" [disabled]="slot.isReserved" [disabled]="slots" [ngClass]="{'btn-info': !slot.isReserved,'btn-warning':slot.isReserved}">
<span *ngIf="!slot.isReserved">Available</span><span *ngIf="slot.isReserved">Not Available</span>
  </button>
  <!--<pre>{{allReservations | json}}</pre>-->

  </span>
  <!--<button [id]="i" *ngFor="let slot of slots;let i = index;" (click)="slotNumbers(i)">{{slot}}</button>-->

  <form [formGroup]="bookingForm" (ngSubmit)="onSubmit(bookingForm.value)">
    <label>Select date</label>
    <input type="date" [formControl]="bookingForm.controls['date']">
    <div *ngIf="bookingForm.controls['date'].hasError('required')">
      required
    </div>
    <label>Start hours</label>

    <select [formControl]="bookingForm.controls['startHours']">
  <option value="0">0: 00</option>
  <option value="1">1: 00</option>
  <option value="2">2: 00</option>
  <option value="3">3: 00</option>
  <option value="4">4: 00</option>
  <option value="5">5: 00</option>
  <option value="6">6: 00</option>
  <option value="7">7: 00</option>
  <option value="8">8: 00</option>
  <option value="9">9: 00</option>
  <option value="10">10: 00</option>
  <option value="11">11: 00</option>
  <option value="12">12: 00</option>
  <option value="13">13: 00</option>
  <option value="14">14: 00</option>
  <option value="15">15: 00</option>
  <option value="16">16: 00</option>
  <option value="17">17: 00</option>
  <option value="18">18: 00</option>
  <option value="19">19: 00</option>
  <option value="20">20: 00</option>
  <option value="21">21: 00</option>
  <option value="22">22: 00</option>
  <option value="23">23: 00</option>
</select>
    <div *ngIf="bookingForm.controls['startHours'].hasError('required')">
      required
    </div>
    <label>Select hours</label>
    <select [formControl]="bookingForm.controls['selectHours']">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>
    <div *ngIf="bookingForm.controls['selectHours'].hasError('required')">
      required
    </div>
    <br>
    <br>
    <input type="submit">
  </form>
</div>