<app-nav></app-nav>

<div class="container" style="margin-top: 100px">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" style="text-align: center">Sign up</h3>
        </div>
        <div class="panel-body">
          <form role="form" [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm.value)">
            <!--<input type="text" [formControl]="signUpForm.controls['email']">-->
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="first_name" id="first_name" [formControl]="signUpForm.controls['firstName']" class="form-control input-sm"
                    placeholder="First Name">
                    <small *ngIf="signUpForm.controls['firstName'].hasError('required') && signUpForm.controls['firstName'].touched" style="color: red">Required</small>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" name="last_name" id="last_name" [formControl]="signUpForm.controls['lastName']" class="form-control input-sm"
                    placeholder="Last Name">
                    <small *ngIf="signUpForm.controls['lastName'].hasError('required') && signUpForm.controls['lastName'].touched" style="color: red">Required</small>

                </div>
              </div>
            </div>

            <div class="form-group">
              <input type="email" name="email" id="email" [formControl]="signUpForm.controls['email']" class="form-control input-sm" placeholder="Email Address">
              <small *ngIf="signUpForm.controls['email'].hasError('required') && signUpForm.controls['email'].touched" style="color: red">Required</small>
            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" name="password" id="password" [formControl]="signUpForm.controls['password']" class="form-control input-sm"
                    placeholder="Password">
                    <small *ngIf="signUpForm.controls['password'].hasError('required') && signUpForm.controls['password'].touched" style="color: red">Required</small>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="password" name="password_confirmation" [formControl]="signUpForm.controls['cpassword']" id="password_confirmation"
                    class="form-control input-sm" placeholder="Confirm Password">
                    <small *ngIf="signUpForm.controls['cpassword'].hasError('required') && signUpForm.controls['cpassword'].touched" style="color: red">Required</small>
                </div>
              </div>
            </div>
            <input type="submit" value="Register" class="btn btn-primary btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>